.multiselect,
.multiselect__input,
.multiselect__single {
  font-size: 14px;
}
.multiselect__input::-webkit-input-placeholder {
  color: #35495e;
}
.multiselect__input:hover,
.multiselect__single:hover {
  border-color: #fff;
}
.multiselect__input:focus,
.multiselect__single:focus {
  border-color: #fff;
  outline: none;
}
.multiselect__tag {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.multiselect__tags {
  width: 100%;
  border: 1px solid black;
}
.multiselect__current {
  padding: 8px 12px 0;
  overflow: hidden;
  white-space: nowrap;
  padding-right: 30px;
}
.multiselect__option--selected {
  color: black;
}
.multiselect__select {
  padding: 0;
}
.multiselect__select:before {
  color: #000;
  border-color: black transparent transparent;
}
.multiselect__placeholder {
  color: #000;
  display: inline-block;
}
.multiselect__content-wrapper {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  word-wrap: break-word;
}
.multiselect__content {
  word-wrap: break-word;
}
.multiselect__option {
  line-height: 120%;
  word-wrap: break-word;
  white-space: normal;
}
.multiselect__option--highlight {
  background: #000;
}
.multiselect--disabled .multiselect__current,
.multiselect--disabled .multiselect__select,
.multiselect__option--disabled {
  background: #ededed;
  color: #e8e8e8;
}
.multiselect__option--selected:after {
  color: #f3f3f3;
}
.multiselect__option--selected.multiselect__option--highlight {
  background: #000;
  color: #e8e8e8;
}
.multiselect__option--selected.multiselect__option--highlight:after {
  background: #000;
  color: #e8e8e8;
}
.multiselect__option--group {
  background: #ededed;
  color: #000;
}
.multiselect__option--group.multiselect__option--highlight {
  background: #000;
  color: #ededed;
}
.multiselect__option--group.multiselect__option--highlight:after {
  background: #000;
}
